<div>
    <span><strong>{{ comment.name }}</strong></span><span> at {{ comment.created_on|date:"Y-m-d h:i:s" }}</span>
</div>
<div>{{ comment.body }}</div>

<div>
    <h3>Leave a reply</h3>
    <form action="{% url 'polls:reply' comment.id %}" method="post" id="comment_form">
        {% csrf_token %}
        <div>
            <label for="comment_name">Name: </label>
            <input id="comment_name" type="text" name="name">
        </div>
        <div>
            <label for="comment_body">Comment: </label>
            <textarea id="comment_body" name="body" form="comment_form"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>